@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Hide the scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  overflow: scroll; /* Ensure content is scrollable */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}